/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    color: #777;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
}

/* Heading */
.header {
    background-image:
        linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
    position: relative;

}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-primary--main {
    animation: moveInLeft 1s ease-out;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.2rem;
}

.heading-primary--sub {
    animation: moveInRight 1s ease-out;
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    margin-bottom: 50px;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Logos */
.header__logo {
    height: 3.5rem;
    animation: moveInLeft 1s ease-out;
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

}



/* Animation */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    80% {
        opacity: 0.5;
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(5rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* Buttons */
.btn:link,
.btn:visited {
    font-size: 1.6rem;
    position: relative;
    border-radius: 10rem;
    display: inline-block;
    padding: 1.5rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s
}


.btn--white {
    background-color: #fff;
    color: #777;
}

.btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(5px);

}

.btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.btn::after {
    border-radius: 10rem;
    content: '';
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);

    opacity: 0;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    /*Will apply the animation effects at 0% before it starts*/
}