.btn {
  &,
  &:link,
  &:visited {
    font-size: $default-font-size;
    position: relative;
    border-radius: 10rem;
    display: inline-block;
    padding: 1.5rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;

    // Change btn el
    border: none;
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(5px);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(1px);
  }

  &::after {
    border-radius: 10rem;
    content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
    /*Will apply the animation effects at 0% before it starts*/
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: 1.8rem;
    background-color: rgba($color-white, 0.9);
    font-weight: 600;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    background-color: $color-primary;
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0px);
  }
}
