.btn {
  &:link,
  &:visited {
    font-size: 1.6rem;
    position: relative;
    border-radius: 10rem;
    display: inline-block;
    padding: 1.5rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(5px);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(1px);
  }

  &::after {
    border-radius: 10rem;
    content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
    /*Will apply the animation effects at 0% before it starts*/
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    //TODO: SEC 5 CH 7 14:00
  }
  &hover {
  }
}
